.navbar-brand {
   text-transform: uppercase;
}

/* Navbar */
   
   #searchinput {
      width: 200px;
   }
   

/* Carousel */
#myCarousel {
   margin-top: 60px;
}

.carousel-caption {
   font-size: 20px;
}

.carousel-caption h4 {
   font-size: 28px;
}

#myCarousel .item { height: 550px; }

#slide1 {
   background: url('../../images/carousal1.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/carousal2.jpg') top center no-repeat;
}

#slide3 {
   background: url('../../images/carousal3.jpg') top center no-repeat;
}

/* Panel Styling */
img {
   width: 300px;
   height: 180px;
}

#button {
   width: 100%;
   margin-top: 15px;
   margin-bottom: 15px;
}

.form-group button {
   margin-top: 15px;
}

#features {
   font-family: 'cookie' , cursive;
   font-size: 25px;
   text-align: justify;
}

#features h3 {
   text-align: center;
}

#features img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom:  20px;

}

}

#features img {
   margin: 0 0 20px;
}

footer {
   
   background: #eaeaea;
}

footer ul li {
   list-style: none;
    padding: 10px;
    margin-right: 25px;
}

.row h5 {
   text-align: center;
}
.fimg {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20px;
   height: 20px;
}

/* Media Queries */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
   #myCarousel .item { height: 350px; }

#slide1 {
   background: url('../../images/carousal_1.jpeg') top center no-repeat;
}

#slide2 {
   background: url('../../images/carousal_2.jpeg') top center no-repeat;
}

#slide3 {
   background: url('../../images/carousal_3.jpeg') top center no-repeat;
}

.carousel-caption {
      font-size: 16px;
   }
   
   .carousel-caption h4 {
      font-size: 22px;
   }


}

/* Large desktop */
@media (min-width: 1200px) {
	
}